.cell {
    background-color: #fffceb;
    border: 0.1rem solid #e0e0e0;
    height: calc(100% / 9);
    transition: all 0.5s ease-out;
    width: calc(100% / 10);
}

.cell:hover,
.cell.active {
    background-color: white;
}

.cell img {
    opacity: 0.3;
    transition: all 0.5s ease-out;
    transform: rotateY(0) scale(0.5);
}

.cell:hover img {
    opacity: 0.75;
    transform: rotateY(0) scale(0.75);
}

.cell.active img {
    opacity: 1;
    transform: rotateY(1turn) scale(1);
}

.cellsContainer {
    border: 0.1rem solid #e0e0e0;
}

.mh-100 {
    max-height: 100%;
}
